body {
  color: var(--primary-text-color);
  background: var(--prymary-bg-color);
}
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css);

/*Завдання №9*/
h1, h2, h3 {
    font-weight: 700;

}

h1 {
    font-size: 1.45rem;
}

h2 {
    font-size: 1.3rem;
}

.list-unstyles {
    list-style: none;
}

.footer-social {
    
}