/*Завдання №2*/
h1, h2, h3 {
    color: grey;
}

#main {
    color: #e60202;
}

.h2 {
    color: red;
}

.heading {
    color: green;
}

/*Завдання №3*/
li {
    font-weight: bold;
}

section > p {
    color: red;
}
/*- Чи зміниться колір тексту p всередині елемента div?
    Відповідь: ні, не зміниться, тому що новий колір присвоїться тільки дочірнім елементам елементу p
- змінити розмір шрифту всіх елементів p всередині елемента section, незалежно від їхнього рівня вкладеності.*/
section ~ p {
    font-size: large;
}
/*Завдання 4*/
.first {
    color: indigo;
}
/*- застосувати до всіх посилань, нащадкам p.first властивість color: green */
p .first  {
    color: green;
}

/*- стилізувати посилання з властивістю color: green, що розташовані всередині будь-якого тегу з класом .first, що є нащадком елементу p*/